* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
}

body {
    min-height: 100vh;
}

/* ***********************   Header Style ********************** */
.header {
    height: 60px;
    margin-bottom: 60px;
}

.navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #3d3c3c;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .menu {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .menu:hover {
    border-radius: 50%;
    background-color: #f1f1f1;
    cursor: pointer;
}
.navbar img {
    border-radius: 50%;
}
.navbar img:hover {
    border: 4px solid #ddd8d8;
    cursor: pointer;
}


.apps {
    width: 300px;
    height: 400px;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 5px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 999;
    overflow-y: scroll;
}
.none {
    display: none;
}

/* *********************** Hero Style ************************ */
.hero {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.hero img {
    height: 90px;
}

/* *********************** Search Style ************************ */
.search {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.search .search-content {
    width: 320px;
    height: 45px;
    display: grid;
    grid-template-columns: 5% 75% 10%;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    border: thin solid #ddd8d8;
    border-radius: 30px;
}

.search .search-content:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-content div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-content div:last-child {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
}

.search-content form {
    height: 45px;
    display: flex;
    align-items: center;
}

.search-content form input {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
}
.search-icons svg{
    width: 18px;
    height: 18px;
}
.search-icons svg:hover{
    cursor: pointer;
}

/* *********************** Recent Search Style ************************ */
.recent-search {
    width: 320px;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article {
    display: block;
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.article:hover {
    background-color: #ddd8d8;
    border-radius: 5px;
}

.article  svg{
    width: 20px;
    height: 20px;
}
.article  img{
    width: 25px;
    height: 25px;
}

.article div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f7f2f2;
    border-radius: 50%;
    font-size: 1.2rem;
}

.article p {
    font-size: .8rem;
}




/* *********************** Footer Style ************************ */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer > a {
    padding: 10px;
    border-radius: 50%;
    background-color: #fffbfb;
    color: #1A73E8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: .8rem;
    text-decoration: none;
}
footer > a:hover {
    opacity: 0.8;
}

footer > a i,
footer > a span {
    font-size: .8rem;
}

footer > a i {
    text-align: center;
}
footer > a span {
   display: none;
}

@media screen and (min-width: 700px) {
    .search .search-content {
        width: 550px;
    }

    .recent-search {
        width: 400px;
    }
    .recent-search > .article {
        width: 112px;
        height: 112px;
    }

    recent-search > .article  svg{
        width: 24px;
        height: 24px;
    }

    footer > a {
        border-radius: 30px;
        padding: 10px 20px;
    }

    footer > a i {
        margin-right: 5px;
    }

    footer > a span {
        display: inline;
    }
}
